
 .image{
    position: absolute;
    right: 80px;
    top: 80px;
}
.sun{
    position: absolute;
    bottom: 10px;
    left: 700px;
}
.moon{
    position: absolute;
    bottom: 10px;
    left: 750px;
}

.heading{
    font-size: larger;
    position: absolute;
    top: 10px;
    left: 200px;
}
.text{
    font-size: larger;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 50%;

}

.text1{
    width:30% ;
    margin: 10px;
    
    
}
.text2{
    width: 58%;
    color: rgb(75, 90, 90);
}
.text3{
    width: 58%;
    color: rgb(75, 90, 90);
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'changa' ,sans-serif;
}


body{
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
}

